:root{
    /*Fontes*/
    --dm-sans: "DM Sans", sans-serif;
    
    /*Cores*/
    --black: #000000;
    --gray: #b3b3b3;
    --sidebar-hover: rgba(0, 0, 0, .05);

    /*Tamanho fonte*/
    --md: 14px;
    --sm: 10px;
}